<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-1">Make Your Links Manageable</h1>
    <p>Simplify them</p>
    <br><br>
    <%= render "links/form" %>
    <br><br>
    <h4>Manage your shortened urls and get the option to use vanity urls</h4>

    <!--
    CHECK OUT http://guides.rubyonrails.org/working_with_javascript_in_rails.html#form-for
    The bit about ajax
    -->

    <button class="btn btn-primary btn-lg">
      <%= link_to "Sign Up", new_user_registration_path %>
    </button>
  </div>
</div>

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-4  ">
      <%= render "links/recent_links" %>
    </div>
    <div class="col-md-4">
      <%= render "links/popular_links" %>
    </div>
    <div class="col-md-4">
        <%= render "links/influential_users" %>
    </div>
  </div>
</div>




