<%= form_for @link, remote: true do |f| %>
  <div class="input-group">
    <%= f.text_field :original, :class => "form-control input-lg url",
        :placeholder => "Paste your link, shorten it and share" %>
    <span class="input-group-btn">
      <%= f.submit 'Shorten', :class => "btn btn-lg"%>
    </span>
  </div>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@link.errors.count, "error") %> 
        stopped this link from being created:
      </h2>
      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
<div class="result"></div>
