<div class="container-fluid my-links">
  <h3>My Links</h3>
    <% if @links.any? %>
    <div class="panel-group" id="accordion" role="tablist" 
      aria-multiselectable="true">
      <% @links.each do |link| %>
      <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading<%= link.id %>">
            <h4 class="panel-title">
            <div class="row">
            <%= link_to link.get_title, link.shortened_url, target: "_blank", class: "col-md-8" %>
            <a class= "collapsed col-md-2 "role="button" data-toggle="collapse" 
            data-parent="#accordion" href="#collapse<%= link.id %>" aria-expanded="true" 
            aria-controls="collapse<%= link.id %>">
              Edit
            </a>
            <div class="delete-link col-md-2">
            <%= link_to 'Delete', link, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
            </div>
            </h4>
          </div>
          <div id="collapse<%= link.id %>" class="panel-collapse collapse" 
          role="tabpanel" aria-labelledby="heading<%= link.id %>">
            <div class="panel-body">
            <%= form_for link, remote: true do |f| %>
              Original URL : 
              <%= f.url_field :original, required: true, class: "form-control" %>
              <br>
              Set Vanity String Slug: 
              <%= f.text_field :slug, required: true, class: "form-control" %><br>
              <div class="row">
              <div class="col-lg-2">Link Visits:
              <%= f.label link.visits %></div>
              <div class="col-lg-2">Link Active? <%= f.check_box :active %></div>
              </div>
              <div id="update-error"></div>
              <%= f.submit "Update Link", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% else %>
      <p> You have not shortened any links </p>
  <% end %>
</div>
