<div class="container-fluid">
  <h3>My Links</h3>
  <div class="list-group">
    <ul>
    <% if @links.any? %>
    <% @links.each do |link| %>
      <li class="list-group-item">
        <%= form_for link do |f| %>
        <div class="form-group">
          <h5><%= link_to "link.get_title", link.shortened_url, target: "_blank" %> </h5>
          Original URL : 
          <%= f.url_field :original, required: true, class: "form-control" %>
          <br>
          Set Vanity String: 
          <%= f.text_field :slug, required: true, class: "form-control" %><br>
          <div class="row"><div class="col-lg-2">Link Visits:
          <%= f.label link.visits %></div>
          <div class="col-lg-2">Link Active? <%= f.check_box :active %></div>
          </div>
          <%= f.submit "Update Link", class: "btn btn-primary" %>
          <% end %>
          <%= link_to 'Delete', link, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
  <% else %>
    <p> You have not created any shortened links </p>
  <% end %>
</div>
