$('.alert').html('<%= notice %>').show();

$('.my-links').html("<%= j(render 'links/my_links').html_safe %>");

$('.checkbox-lg').bootstrapSwitch();

var id = '<%= "#collapse-edit#{@link.id}" %>';

$(id).addClass('in');

<% if @link.errors.any? %>
  $('#update-error').html(''
    + '<h4><%= pluralize(@link.errors.count, "error") %>'
    + ' stopped this link from being created:</h4>'
    + '<ul><% @link.errors.full_messages.each do |msg| %>'
    + '<li><%= msg.gsub("Original", "URL") %></li><% end %></ul>');
<% else %>
  $('#update-error').html('');
<% end %>
