<!DOCTYPE html>
<html>
<head>
  <title>Short.en | URL Shortener</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render "layouts/nav" %>

  <!-- <div class="alert alert-success" data-dismiss="alert"><%= notice %></div>
  <div class="alert alert-warning" data-dismiss="alert"><%= alert %></div>
 -->
    <%= yield %>
  </div>

</body>
</html>
